* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: azure; 
}

@font-face {
    font-family: Roboto-Regular;
    src: url("Font/Roboto-Regular.ttf");
}

@font-face {
    font-family: Roboto-Medium;
    src: url("Font/Roboto-Medium.ttf");
}

@font-face {
    font-family: Roboto-light;
    src: url("Font/Roboto-Light.ttf");
}

.parent {
    padding: 5px 5px;
    text-align: center;
    margin: 65px 50px;
    margin-bottom: 100px;

    h19 {
        font-family: Roboto-Light;
        font-size: 52px;
        font-weight: 300;
        margin-bottom: 40px;
    }
}
.child {
    display: flex;
    flex-wrap: wrap;

    justify-content: space-between;
    line-height: 1.5;
}

.childitem {
    text-align: center;
}

.childitem h3 {
    font-family: Roboto-Medium;
    font-weight: 500;
    font-size: 22px;
}

.childitem p {
    font-family: Roboto-Regular;
    font-weight: 400;
    margin-bottom: 25px;
}

.parent {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
}

.child img {
    width: 52px;
}
@media(min-width:576px)
{
    .childitem {
        flex-basis: 45%;
    }
}

@media(min-width:1200px)
{
    .childitem h3{
        font-size: 18px;
    }
    .childitem {
        flex-basis: 30%;
}
}
@media(max-width:576px)
{
    .childitem h3{
        font-size: 18px;
    }
    .childitem {
        flex-basis: 100%;
    }
}


